html,
body {
    margin: 0 auto;
}

body {
    position: fixed;
    top: 50%;
    left: 50%;
    /* when we are not sure about the h,w */
    transform: translate(-50%, -50%);
}

.div-borders {
    padding: 10px;
    border: 2px solid grey;
    box-shadow: 3px 3px 3px grey;
    margin: 10px;
}
